header {
  background-image: url(/Terra-Web-Site/imgenes/terra_header.jpeg);
  height: 400px;
  background-repeat: no-repeat; }

nav {
  margin: auto;
  background: Green; }
  nav ul {
    background-color: yellow;
    list-style-type: none; }
    nav ul li {
      font-size: 30px;
      float: left;
      margin: 5px;
      padding: 20px; }
